<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/mainStruct">
<div class="col-12 stretch-card grid-margin" layout:fragment="content_view">
    <div class="card">
        <div class="card-body col-12">
            <h6 class="card-title">Basic Table</h6>
            <p class="card-description">Add class <code>.table</code></p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>LAST NAME</th>
                        <th>USERNAME</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${allUsers}">
                        <td th:text="${i.id}"></td>
                        <td th:text="${i.name}"></td>
                        <td th:text="${i.name}"></td>
                        <td th:text="${i.username}"></td>
                        <td>
                            <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-details"
                               th:attr="data-target='#modal-details'+${i.id}" th:text="details"></a>
                            <div class="modal fade" tabindex="-1" role="dialog" th:id="modal-details+${i.id}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-content">
                                            <div class="px-4 py-5">
                                                <h5 class="text-muted font-weight-normal mb-4">User details.</h5>
                                                <form th:action="@{/saveAccount}" method="post">
                                                    <input type="hidden" name="user_id" th:value="${i.id}">
                                                    <div class="form-group">
                                                        <label th:text="#{account.email}"></label>
                                                        <input type="email" class="form-control" name="user_email"
                                                               th:value="${i.email}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label th:text="#{account.nickname}"></label>
                                                        <input type="text" class="form-control" name="user_nickname"
                                                               th:value="${i.username}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label> Password</label>
                                                        <input type="password" class="form-control"
                                                               name="user_password">
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-primary">Save Account</button>
                                                    </div>
                                                </form>
                                                <hr>
                                                <form th:action="@{/save-user-pasword/{id}(id=${i.id})}" method="post">
                                                    <div class="form-group">
                                                        <label> Old Password</label>
                                                        <input type="password" class="form-control"
                                                               name="user_old_password ">
                                                    </div>
                                                    <div class="form-group">
                                                        <label th:text="#{account.new.password}"></label>
                                                        <input type="password" class="form-control"
                                                               name="user_new_password ">
                                                    </div>
                                                    <div class="form-group">
                                                        <label th:text="#{account.re.new.password}"></label>
                                                        <input type="password" class="form-control"
                                                               name="user_re_new_password">
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-primary">Save New Password</button>
                                                    </div>
                                                </form>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#user-remove"
                               th:attr="data-target='#user-remove'+${i.id}">Remove</a>
                            <div class="modal fade" tabindex="-1" role="dialog" th:id="user-remove+${i.id}">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body px-4 py-5">
                                        <h5 class="text-muted font-weight-normal mb-4">Are you sure to remove course?</h5>
                                        <form th:action="@{/remove-user}" method="post">
                                            <div class="form-group">
                                                <input type="hidden" name="user_id" th:value="${i.id}">
                                                <button class="btn btn-danger">Delete</button>
                                            </div>
                                        </form>
                                        <button type="button" class="btn btn-behance" data-dismiss="modal" aria-label="Close">
                                            <span>No</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>