<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/profileStruct">
	<div layout:fragment="content_view">
		<div class="row">
			<div class="col-12 col-md-6 grid-margin">
				<div class="card" th:each = " i : ${allCourses}">
					<div class="card-header" th:text = "${i.name}">
						
					</div>
					<div class="card-body" th:text = "${i.description}" >
						
					</div>
				</div>
			</div>
		</div>
	</div>
</html>
