.max-width {
    width: 100%;
}
.min-vw-70 {
    min-width: 70vw !important;
}
.min-vw-75 {
    min-width: 75vw !important;
}
.min-vw-70 {
    min-width: 60vw !important;
}
.max-vm-80{
    max-width: 80vw !important;
}
.big-text {
    font-size: 250%;
}
.right {
	right: 0;
}
